

/* Background image */
body {
    background-image:url("music-1.gif"); 
    background-size: cover;
}

/* Styling for <h1> tags */
h1 {
    font-family: Arial, sans-serif;
    color: navy;
    text-align: center;
}
